<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>JSRender Playgrounds Page</title>
    <!-- Import jQuery Globally -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div id="leecColl">
    <ul class="list_tab">
        <li>
            <a href="javascript:;" class="txt_tab">
                일탭
                <span class="ico">HQ</span>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="txt_tab">
                이탭
                <span class="ico">HQ</span>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="txt_tab">
                삼탭
                <span class="ico">HQ</span>
            </a>
        </li>
    </ul>
    <div class="cont_tab">
        <span class="txt_tab">일내용</span>
    </div>
    <div class="cont_tab">
        <span class="txt_tab">이내용</span>
    </div>
</div>
</body>
</html>
